__pycache__
can/*
!can/hand_control.py
!can/emg_control.py
!can/keyboard_test.py
!can/ControlCAN.dll

experiment/data

emg_decoding/*
!emg_decoding/EMGFeatures.py
!emg_decoding/process.py
!emg_decoding/pytrigno.py
!emg_decoding/sever.py
!emg_decoding/train.py

models/
mocap/
obj_coordinate/
mocap_streaming/*
!mocap_streaming/mocap_client_archive.py
!mocap_streaming/mocap_client.py
!mocap_streaming/server.py
!mocap_streaming/NatNetClient.py
!mocap_streaming/DataDescriptions.py
!mocap_streaming/MoCapData.py

pose_estimation/__pycache__
pose_estimation/data
pose_estimation/hand_eye_calibrate/*
!pose_estimation/hand_eye_calibrate/calibrate.py
pose_estimation/images
pose_estimation/model
pose_estimation/videos
pose_estimation/YCB-Video-Out

prediction/*
!prediction/predict_sequence.py
!prediction/tensorboard_check.py
!prediction/train_uncluster_noisy.py
!prediction/train_uncluster.py
!prediction/wrist_transform.py

save_gposes_gtypes.py

simulation/wrist_hand_left_v2
simulation/hand_left_v2
simulation/trajectory
