__pycache__
can/
models/
mocap/
obj_coordinate/
mocap_streaming/*
!mocap_streaming/mocap_client_archive.py
!mocap_streaming/mocap_client.py
!mocap_streaming/mocap_server.py

pose_estimation/__pycache__
pose_estimation/data
pose_estimation/hand_eye_calibrate/*
!pose_estimation/hand_eye_calibrate/calibrate.py
pose_estimation/images
pose_estimation/model
pose_estimation/videos
pose_estimation/YCB-Video-Out

prediction/*
!prediction/predicted_sequence.py
!prediction/tensorboard_check.py
!prediction/train_uncluster_noisy.py
!prediction/train_uncluster.py
!prediction/wrist_transform.py

save_gposes_gtypes.py

simulation/*
!simulation/workflow_imgs.py
!simulation/workflow_vid.py
!simulation/get_o3d_view.py
!simulation/renderoption.json
!simulation/BV_1440.json